#title_refreshButton {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

#score_table {
  margin-top: unset;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.score_list {
  display: flex;
  padding: 5px;
  gap: 5px;
}

#main_section {
  display: flex;
  gap: 50px;
  align-items: baseline;
  max-width: 575px;
  margin: auto;
  justify-content: space-between;
}

.title_container {
  max-width: 640px;
  margin: auto;
}

#scoreForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#nameInput::placeholder,
#scoreInput::placeholder {
  color: black;
}

#nameInput,
#scoreInput, #submitButton {
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
}

#score_table li:nth-child(even) {
  background-color: rgb(196, 193, 193);
}

.padding-left-unset {
  padding-left: unset;
}

.margin-top-unset {
  margin-top: unset;
}

.margin-bottom-unset {
  margin-bottom: unset;
}

#recent_score {
  width: 60%;
}

#add_score {
  width: 40%;
}

#submitButton {
  width: 80px;
}